<vbox class={{ruledClass}}>
  <hbox>
    {{input type="number" value=model.order class=(concat-string levelClass "userinput square") }}
    {{input type="checkbox" name="isDisplayed" checked=model.display}}
    {{input type="checkbox" name="showComputed" checked=model.showComputed}}
    <box xs=8>
      {{textarea rows=isNotShrunk value=model.metaText class=(concat-string levelClass "userinput metaText") }}
    </box>
    {{input type="checkbox" name="isNotShrunk" checked=model.shrink}}
    <button {{action "deleteIdea"}} class="userinput red">-</button>
    <button {{action "addIdea"}} class="userinput green">+</button>
    <button {{action "toggleChildren"}} class="userinput blue">!</button>
  </hbox>
  {{#if hasChildren}}
    {{#if model.showComputed}}
      <hbox>
        <p>{{computedText}}</p>
      </hbox>
    {{/if}}
  {{/if}}
    {{#if showChildren}}
      {{#each model.childnode as |child|}}
        {{idea-box model=child level=nextlevel}}
      {{/each}}
  {{/if}}
</vbox>