<hbox >
  <box xs="hidden" sm="1 visible">
  </box>
    <centered justify="start">
      <button {{action "makeNew"}} class="userinput green">New</button>
    {{#if isHome}}
      <button {{action "exportAll"}} class="userinput grey">Export All</button>
    {{else}}
      <button {{action "goHome"}} class="userinput grey">All</button>
      <button {{action "branchFocus"}} class="userinput blue">Branch focus</button>
    {{/if}}
    </centered>
  <box justify="center">
    <h1>Idea Processor</h1>
  </box>
  <box xs="2" sm="3">
  </box>
</hbox>
{{outlet}}